.diversity {
    text-align: center;
    margin-block-start: calc(#{$margin-block-start} * 10);
    margin-block-end: calc(#{$margin-block-end} * 10);
    margin-inline-end: 5%;
    margin-inline-start: 5%;
    background-image: url(../images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
}


.diversity__container {
    color: white;
}

@media(min-width: 800px) {
    .diversity {
        display: grid;
        grid-template-columns: repeat(2, 40%);
        grid-gap: 10%;
        margin-block-end: calc(#{$margin-block-end} * 4);
    }
}