.access {
    color: white;
    text-align: center;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
    background-color: hsl(217, 28%, 15%);
    position: absolute;
    margin-top: calc(#{$margin-top} * -6);
    // padding-right: 15%;

    &__title {

    }

    &__form__input {
        border: none;
        padding-inline-end: calc(#{$padding-inline-end} * 3);
        padding-inline-start: calc(#{$padding-inline-start} * 3);
        padding-top: $padding-top;
        padding-bottom: $padding-bottom;
        border-radius: 20px;
        cursor: pointer;

    }


    &__form__button {
        border: none;
        padding-inline-end: calc(#{$padding-inline-end} * 4);
        padding-inline-start: calc(#{$padding-inline-start} * 4);
        padding-top: $padding-top;
        padding-bottom: $padding-bottom;
        border-radius: 20px;
        background-color: hsl(176, 68%, 64%);
        color: white;
        margin-top: $margin-top;
        margin-bottom: $margin-bottom;
        cursor: pointer;
    }

    &__container {
        padding: $padding
    }

}

@media(min-width: 800px) {
    .access__form__input {
        margin-right: calc(#{$margin-right} * 2);
        padding-inline-end: 30%;
    }
}