.masthead__logotitle {
    width: 80%;
}


.security__image,
.productive__image {
    width: 80%;
    margin-inline-end: 10%;
    margin-inline-start: 10%;
}

.person__patel__image,
.person__bruce__image,
.person__iva__image {
    border-radius: 50%;
    // width: 40%;
}

.footer__image {
    margin-inline-start: 5%;
    margin-block-start: 5%;
}

.footer__article__container--phone,
.footer__article__container--image {
    margin-right: $margin-right;
}


.footer__icon__location {
    width: 20px;
    margin-right: $margin-right;
}