.person {
    color: white;


    &__patel,
    &__bruce,
    &__iva {
        background-color: hsl(219, 30%, 18%);
        margin: 5%;
        border-radius: 5px;
    }

    &__container {
        padding:calc(#{$padding} * 2);
    }

    &__patel__container,
    &__bruce__container,
    &__iva__container {
        display: flex;
        
    }

    &__patel__subcontainer {
        margin-inline-start: 20px;
        margin-block-start:  $margin-block-start;
    }
}