.productive {
    color: white;
    margin-block-start: calc(#{$margin-block-start} * 10);
    margin-block-end: calc(#{$margin-block-end} * 10);


    &__title,
    &__container {
       margin-inline-start: 5%;
       margin-inline-end: 5%;
    }

    &__link {
        color: hsl(176, 68%, 64%);
        margin-inline-start: 5%;
    }


    &__text__container {
        margin-inline-start: 10%;
    }
}


@media(min-width: 800px) {
    .productive {
        display: flex;
    }

    .productive__text__container {
        margin-inline-start: 0;
    }
}


