body {
  padding: 0;
  margin: 0;
  max-width: 1440px;
  max-height: 2724px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  background-color: #181f2a; }

.masthead {
  display: flex; }
  .masthead__navigation__list {
    list-style: none;
    display: flex;
    position: absolute;
    right: 10%; }
  .masthead__navigation__list--anchore {
    text-decoration: none;
    color: gainsboro; }
  .masthead__navigation__list--link {
    margin: 5%; }

.security {
  text-align: center; }
  .security__title {
    color: white; }
  .security__paragraph {
    color: white; }
  .security__button {
    background-color: #65e2d9;
    border: none;
    color: white;
    border-radius: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: calc(1rem * 3);
    padding-left: calc(1rem * 3); }

.masthead__logotitle {
  width: 80%; }

.security__image,
.productive__image {
  width: 80%;
  margin-inline-end: 10%;
  margin-inline-start: 10%; }

.person__patel__image,
.person__bruce__image,
.person__iva__image {
  border-radius: 50%; }

.footer__image {
  margin-inline-start: 5%;
  margin-block-start: calc(1rem * 10); }

.footer__article__container--phone,
.footer__article__container--image {
  margin-right: 1rem; }

.footer__icon__location {
  width: 20px;
  margin-right: 1rem; }

.diversity {
  text-align: center;
  margin-block-start: 5%;
  margin-inline-end: 5%;
  margin-inline-start: 5%; }

.diversity__container {
  color: white; }

.access {
  color: white;
  text-align: center;
  margin-inline-start: 5%;
  margin-inline-end: 5%;
  background-color: #1c2431;
  position: absolute;
  margin-top: calc(1rem * -6); }
  .access__form__input {
    border: none;
    padding-inline-end: calc(1rem * 3);
    padding-inline-start: calc(1rem * 3);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 20px; }
  .access__form__button {
    border: none;
    padding-inline-end: calc(1rem * 4);
    padding-inline-start: calc(1rem * 4);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 20px;
    background-color: #65e2d9;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .access__container {
    padding: 1rem; }

.footer {
  color: white;
  background-color: #0b1523; }
  .footer__paragraph {
    margin-inline-start: 5%; }
  .footer__article__container--link {
    text-decoration: none;
    color: white;
    margin-inline-start: 5%; }
  .footer__article__container {
    margin-top: 1rem; }
  .footer__navigation1__list, .footer__navigation2__list, .footer__navigation3__list {
    list-style: none; }
  .footer__navigation1__list--anchore, .footer__navigation2__list--anchore, .footer__navigation3__list--anchore {
    color: white;
    text-decoration: none; }
  .footer__navigation3__list--anchore {
    text-indent: -9999px;
    display: inline-block; }
  .footer__navigation3__list {
    display: flex;
    text-align: center;
    justify-content: center; }
  .footer__navigation3__linklist {
    margin: 1rem; }
  .footer__navigation1__linklist, .footer__navigation2__linklist {
    margin-top: 1rem; }
  .footer__links {
    margin-inline-start: 2.5%; }

.facebook {
  background-image: url("../images/facebook.png");
  background-repeat: no-repeat;
  padding: 1rem;
  background-size: 100%; }

.twitter {
  background-image: url("../images/twitter.jpg");
  background-repeat: no-repeat;
  padding: 1rem;
  background-size: 100%; }

.istogram {
  background-image: url("../images/istagram.png");
  background-repeat: no-repeat;
  padding: 1rem;
  background-size: 100%; }

.person {
  color: white;
  margin-bottom: calc(1rem * 7); }
  .person__patel, .person__bruce, .person__iva {
    background-color: #202a3c;
    margin: 5%;
    border-radius: 5px;
    margin-inline-start: 10%;
    margin-inline-end: 10%; }
  .person__container {
    padding: calc(1rem * 2); }
  .person__patel__container, .person__bruce__container, .person__iva__container {
    display: flex; }
  .person__patel__subcontainer {
    margin-inline-start: 20px;
    margin-block-start: 1rem; }

.productive {
  color: white; }
  .productive__title, .productive__container {
    margin-inline-start: 5%;
    margin-inline-end: 5%; }
  .productive__link {
    text-decoration: none;
    color: #65e2d9;
    margin-inline-start: 5%; }
